@import "tailwindcss";

@theme {
  --color-accent: var(--accent);
  --color-main: var(--background);
  --color-initial: var(--initial);
  --color-forground: var(--foreground);
  --color-subforground: color-mix(in srgb, var(--foreground) 50%, transparent);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #f54a00;
  --initial: #e5e7eb;
}

@utility container-parent {
  @apply flex h-full w-full flex-col;
}

@utility container-child {
  @apply flex items-center justify-center;
}

@utility container-shadow {
  @apply shadow-lg ring-2 ring-gray-200;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
  user-select: none;
}
